<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{this.data.name}},</p>
        <p>Your accounnt has been created successfully.</p>
        <p> Please, click the link below to activate your account</p>
        <a href={{this.data.link}}>Activate account</a>
       
    </body>
</html>