<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
.ticket-container {
    width: 90%;
}

.controllers-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.button-row button {
    margin: 5px;
}

.normal-form {
    display: flex;
    flex-direction: column;
}

.controllers-container span {
    margin-top: 5px;
    width: 100%;
}

.detalisdiv {
    height: 150px;
}

textarea {
    resize: none;
}
        h1 { 
            color: red;
        }
        .normal-form {
    display: flex;
    flex-direction: column;
}

.controllers-container span {
    margin-top: 5px;
    width: 100%;
}

.detalisdiv {
    height: 150px;
}

textarea {
    resize: none;
}
    </style>
</head>
<body>
    
   {{{body}}}
   <div>
       <p >
           Please do NOT reply to this message as it is sent from an unattended mailbox.
       </p>
   </div>
</body>
</html>