<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link
			rel='stylesheet'
			href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'
		/>
		<title>{{title}}</title>
		<style>
			.list-bold { font-weight:500; } .issue{ width:50%; } .bg{
			background-color: rgb(5, 1, 41); } @media (max-width: 780px) { .issue{
			width:100%; } }
		</style>
	</head>
	<body class='bg'>
		{{{body}}}
	</body>
</html>